@mixin iconFlex {
  display: flex;
  align-items: center;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center
}
// 左边icon
.leftIcon {
  @include iconFlex;
  :global {
    .svg-icon {
      margin-right: 4px;
    }
  }
}
// 右边icon
.rightIcon {
  @include iconFlex;
  :global {
    .svg-icon {
      margin-left: 8px;
    }
  }
}
// 带有tag标签
.Tag {
  @include iconFlex;
  :global {
    .left-tag {
      background-color: rgba(46, 108, 228, 1);
      padding: 0 2px;
      font-size: 12px;
      color: #fff;
      border-radius: 2px;
      text-align: center;
      line-height: 15px;
      margin-right: 4px;
    }
    .right-tag {
      border-radius: 4px;
      padding: 4px 8px;
      font-size: 12px;
      border: 1px solid rgba(46, 108, 228, 1);
      color: rgba(46, 108, 228, 1);
      margin-left: 8px;
      line-height: 1;
    }
  }
}
// 普通不可编辑状态
@mixin circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  span.circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
.state {
  display: flex;
  align-items: center;
  :global {
    .name {
      margin-right: 4px;
      font-size: 14px;
      color: #1d2129;
    }
    div.circle {
      @include circle;
    }
    .svg-icon {
      width: 12px;
      height: 12px;
    }
  }
}
// 可编辑state
@mixin editState($c: #ffffff, $pd: 0 15px) {
  background-color: rgba(46, 108, 228, 1);
  border-radius: 8px;
  font-size: 12px;
  width: 98px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  :global {
    .arco-dropdown-open .arco-icon-down {
      transform: rotate(180deg);
    }
    .arco-btn-text:hover,
    .arco-btn-text[type='button']:hover,
    .arco-btn-text[type='submit']:hover {
      background-color: transparent;
      background-color: rgba(0, 0, 0, 0.1);
    }
    .arco-btn .content,
    .iconfont {
      color: $c;
    }
    .arco-btn .content {
      display: flex;
      align-items: center;
      margin-right: 12px;
      div.circle {
        @include circle;
      }
    }
    .arco-btn-size-medium {
      padding: $pd;
    }
  }
}
.editState {
  @include editState(#1d2129, 0);
}
.editStateSolid {
  @include editState();
  ::global {
    .arco-btn-text,
    .arco-btn-text[type='button'],
    .arco-btn-text[type='submit'] {
      border-radius: 8px;
    }
  }
}
// 可编辑state的下拉内容
@mixin editStateDoption($c: #ffffff, $pd: 6px 12px) {
  width: 140px;
  background-color: #fff;
  overflow: hidden;
  &:first-child {
    border-radius: 8px 8px 0 0;
  }
  &:last-child {
    border-radius: 0 0 8px 8px;
  }
  :global {
    .arco-dropdown-option {
      box-sizing: border-box;
      padding: $pd;
      .arco-dropdown-option-content {
        display: inline-flex;
        align-items: center;
        .item {
          background-color: rgba(46, 108, 228, 1);
          width: 98px;
          height: 28px;
          border-radius: 8px;
          color: $c;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          div.circle {
            @include circle;
          }
        }
        .svg-icon.icon-check {
          color: #2e6ce4;
        }
      }
    }
  }
}
.editStateDoptionSolid {
  @include editStateDoption;
}

.editStateDoption {
  @include editStateDoption(#1d2129, 6px 0);
}
.notes {
  display: flex;
  align-items: center;
  :global {
    .span {
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      max-width: 200px;
      margin-right: 20px;
    }
    .iconBtn {
      &.position {
        position: absolute;
        right: 12px;
      }
      cursor: pointer;
      .svg-icon {
        &.icon-edit {
          color: #2e6ce4;
        }
        &.icon-cancel {
          color: #c7c9cc;
        }
      }
    }
    .el-input {
      height: 36px;
      padding-right: 38px;
      .el-input__wrapper {
        border-radius: 8px;
        box-shadow: none;
        border: 1.5px solid #dcdfe6;
        position: relative;
        .el-input__inner {
          color: #1d2129;
        }
        &.is-focus {
          box-shadow: none;
          border: 1.5px solid rgba(46, 108, 228, 1);
        }
      }
    }
  }
}

.suffix {
  width: 400px;
  border-radius: 12px;
  padding: 12px;
  height: 100%;
  background-color: #fff;
  min-height: 176px;
  max-height: 300px;
  box-shadow:
    0px 0px 4px 0px rgba(0, 0, 0, 0.08),
    0px 2px 6px 0px rgba(0, 0, 0, 0.06),
    0px 4px 8px 2px rgba(0, 0, 0, 0.04);
  :global {
    .total {
      color: #86909c;
      font-size: 12px;
      height: 17px;
      line-height: 17px;
      margin-bottom: 12px;
    }
    .item {
      height: 68px;
      width: 376px;
      position: relative;
      display: flex;
      .cricle {
        width: 8px;
        height: 8px;
        background: #c9cdd4;
        margin: 7px 17px 0 4px;
        border-radius: 50%;
        &::before {
          display: block;
          content: '';
          width: 1px;
          height: calc(100% - 25px);
          background-color: #c9cdd4;
          position: absolute;
          left: 7.5px;
          bottom: 0;
        }
      }
      &:last-child .cricle::before {
        opacity: 0;
      }
      .rightBox {
        display: flex;
        flex-direction: column;
        .title {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          height: 24px;
          color: #1d2129;
          align-items: center;
        }
        .content {
          width: 331px;
          padding: 8px 0 12px 0;
          line-height: 24px;
          color: #1d2129;
        }
      }
    }

    .unNote {
      display: block;
      width: 86px;
      height: 123px;
      margin: 0 auto;
    }
  }
}
