@mixin filter {
  background-color: #f2f3f5;
  border-radius: 8px;
  height: 40px;
}

@mixin wrapper {
  width: 316px;
  height: 40px;
  border-radius: 8px;
  position: relative;
  .title {
    @include title;
  }
}

@mixin title {
  width: 80px;
  height: 40px;
  font-size: 14px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4e5969;
  z-index: 1;
  &::before {
    content: '';
    width: 1px;
    height: 20px;
    background: rgba(130, 132, 138, 0.1);
    position: absolute;
    right: 0;
  }
}

.filter-search {
  flex-shrink: 0;
  display: flex;
  margin: 15px 0 8px 0;
  .filter-input {
    flex: 1;
    overflow: hidden;
    padding-top: 5px;
  }
  .btn {
    display: inline-block;
    width: auto;
    padding-top: 5px;
    margin-bottom: 13px;
    .arco-btn {
      width: 68px;
      height: 36px;
      border-radius: 8px;
      border: 1px solid transparent;
    }
    .arco-btn-secondary {
      background-color: #f2f3f5;
      border: 1px solid #e5e6eb !important;
      &:hover {
        background-color: #e9ebed;
      }
    }
    .arco-btn-text {
      width: 48px;
      color: #1d2129;
      position: relative;
      &:hover {
        background-color: transparent;
        color: rgba(46, 108, 228, 1);
      }
      .iconfont {
        margin-left: 4px;
        margin-top: 2px;
      }
      .total {
        background-color: rgba(247, 101, 96, 1);
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        font-weight: 500;
        color: #ffffff;
        right: -5px;
      }
    }
  }
}

.date-time {
  @include wrapper;
  :deep .arco-picker {
    width: 100%;
  }
  &:hover {
    :deep {
      .arco-picker {
        border: 1px solid rgba(46, 108, 228, 1);
      }
    }
  }
  :deep {
    .arco-picker {
      @include filter;
      padding-left: 80px;
      .arco-picker-suffix-icon {
        display: flex;
        margin-right: 5px;
      }
    }
    .arco-picker-input {
      input {
        color: #1d2129;
      }
    }
    .arco-picker-focused {
      border: 1px solid rgba(46, 108, 228, 1);
      box-shadow: 0px 0px 0px 1px rgba(46, 108, 228, 0.3);
    }
  }
  &:hover .dateBtn {
    display: block;
  }
  .dateBtn {
    display: none;
    position: absolute;
    z-index: 1;
    right: 16px;
    bottom: 50%;
    transform: translateY(50%);
    .svg-icon {
      svg {
        width: 14px;
        height: 14px;
      }
    }
    .el-button {
      width: 28px;
      height: 20px;
      margin: 2px;
      &:nth-child(1) {
        border-radius: 4px 0px 0px 4px;
      }
      &:nth-child(2) {
        border-radius: 0px 4px 4px 0px;
      }
    }
  }
}

.select {
  @include wrapper;
  &:hover {
    :deep {
      .arco-select {
        border-color: rgba(46, 108, 228, 1);
      }
    }
  }
  :deep {
    .arco-select {
      @include filter;
      padding-left: 92px;
      position: relative;
    }
    .arco-select-view:hover {
      .arco-select-view-clear-btn {
        position: absolute;
        right: 18px;
      }
    }
    .arco-select-view-suffix {
      padding-left: 0;
      .arco-select-view-icon svg {
        font-size: 16px;
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .arco-select-view-single.arco-select-view-focus,
    .arco-select-view-single:focus-within {
      border-color: rgba(46, 108, 228, 1);
      box-shadow: 0px 0px 0px 1px rgba(46, 108, 228, 0.3);
    }
    // 多选
    .arco-select-view-inner {
      display: flex;
      align-items: center;
      .arco-select-view-tag {
        height: 24px;
        background: #ffffff;
        box-shadow: 0px 1px 1px 0px rgba(84, 87, 97, 0.3);
        border-radius: 4px;
      }
    }
  }
}

.search {
  @include wrapper;
  :deep {
    .arco-input-wrapper {
      @include filter;
      position: relative;
      &:hover {
        border-color: rgba(46, 108, 228, 1);
      }
      input {
        padding-right: 30px;
      }
      .arco-input-suffix {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
      }
      &.arco-input-focus,
      &:focus-within {
        box-shadow: 0px 0px 0px 1px rgba(46, 108, 228, 0.3);
      }
    }
  }
}

.radio {
  @include wrapper;
  background-color: #f2f3f5;
  display: flex;
  justify-content: space-between;
  .radio-select {
    display: flex;
    position: absolute;
    right: 0;
    width: calc(100% - 80px);
    height: 40px;
    .arco-radio-group {
      display: flex;
      width: 100%;
      .arco-radio {
        padding: 0;
        margin: 0;
        flex: 1;
        .radio-item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 100%;
          font-size: 14px;
          font-weight: 500;
          &:hover {
            background-color: #e5e6eb;
          }
        }
        .radio-item-checked {
          border: 1px solid rgba(46, 108, 228, 1);
          background-color: rgba(241, 245, 255, 1);
          color: rgba(46, 108, 228, 1);
        }
        &:last-child {
          .radio-item {
            border-radius: 0 8px 8px 0;
          }
        }
      }
    }
  }
}

.checkbox {
  @include wrapper;
  background-color: #f2f3f5;
  display: flex;
  justify-content: space-between;
  .checkbox-select {
    display: flex;
    position: absolute;
    right: 0;
    width: calc(100% - 80px);
    height: 40px;
    .arco-checkbox-group {
      display: flex;
      width: 100%;
      .arco-checkbox {
        padding: 0;
        margin: 0;
        flex: 1;
        .checkbox-item {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 100%;
          font-size: 14px;
          font-weight: 500;
          &:hover {
            background-color: #e5e6eb;
          }
        }
        .checkbox-item-checked {
          border: 1px solid rgba(46, 108, 228, 1);
          background-color: rgba(241, 245, 255, 1);
          color: rgba(46, 108, 228, 1);
          position: relative;
          overflow: hidden;
          &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 19px solid transparent;
            border-right: 19px solid rgba(46, 108, 228, 1);
            border-top: 18px solid transparent;
            position: absolute;
            right: 0;
            bottom: 0;
          }
          .svg-icon {
            transform: scale(0.5);
            position: absolute;
            right: -2px;
            bottom: -1px;
            font-size: 12px;
            z-index: 2;
            &.icon-select-checkbox {
              color: #ffffff;
            }
          }
        }
        &:last-child {
          .checkbox-item {
            border-radius: 0 8px 8px 0;
          }
        }
      }
    }
  }
}
