
// element css
@import 'element-plus/dist/index.css';
// 清除浏览器默认样式
@import 'normalize.css/normalize.css';

@font-face {
  font-family: SourceHanSansCN;
  src: url(./assets/font/SourceHanSansCN-Regular.otf);
  font-display: swap;
}

@font-face {
  font-family: DIN_Alternate;
  src: url(./assets/font/DIN-Alternate-Bold.ttf);
  font-display: swap;
}

// 导航条颜色
#nprogress .bar {
  background-color: $Neutral !important;
}

* {
  margin: 0;
  padding: 0;
  // flex-shrink: 0;
  box-sizing: border-box;
}

body {
  font-family: SourceHanSansCN;
}
